@model Park.Models.Park

@{
    ViewBag.Number = "ok";
}



@Html.AntiForgeryToken()



<form action="/Park/ok" method="post" enctype="multipart/form-data">
        <h4>存取成功</h4>
</form>


